#header {
  box-shadow: 0 0 5px #3292a6;
  position: relative;
  background: url("../../../static/images/new_design/header-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -500px;
  min-height: 250px;
  width: 100%; }
  #header .dark-header {
    background: rgba(15, 124, 148, 0.6);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }

#about-me #about-me-section {
  padding-top: 200px;
  height: 800px;
  color: white; }
  #about-me #about-me-section img {
    border-radius: 50%; }
  #about-me #about-me-section a {
    text-decoration: none;
    color: #fff; }
  #about-me #about-me-section .left-text {
    text-align: left; }
#about-me #timeline-section {
  height: 800px;
  background: #fff;
  color: #3292a6; }
  #about-me #timeline-section .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; }
    #about-me #timeline-section .container ul li {
      margin: 50px 60px;
      position: relative;
      box-shadow: 0 0 5px #3292a6; }
  #about-me #timeline-section .container ul:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    border: 1px dashed #3292a6; }
  #about-me #timeline-section .container ul li > span {
    content: "";
    position: absolute;
    top: 0;
    left: -60px;
    width: 2px;
    height: 100%;
    border: 1px solid #eee; }
  #about-me #timeline-section .container ul li > span:before,
  #about-me #timeline-section .container ul li > span:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #3292a6;
    position: absolute;
    border-radius: 50%;
    left: -5px;
    background: #fff; }
  #about-me #timeline-section .container ul li > span:before {
    top: -5px; }
  #about-me #timeline-section .container ul li > span:after {
    top: 100%; }
  #about-me #timeline-section .container ul li .time span {
    position: absolute;
    font-size: 12px;
    left: -125px;
    width: 30px;
    text-align: right; }
  #about-me #timeline-section .container ul li .time span:first-child {
    top: -12px; }
  #about-me #timeline-section .container ul li .time span:last-child {
    top: 100%; }
#about-me #about-me-section::after {
  content: "";
  background: url("../../images/new_design/rails.jpg") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }
