<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'new_css/css/portfolio.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <i class="fa fa-globe"></i>
                </div>
                <div class="timeline-year">
                  <span>2019</span>
                </div>
                <div class="inner-content">
                  <h3 class="title">Web Designing</h3>
                  <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer malesuada tellus lorem, et condimentum neque commodo
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <div class="timeline-icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="timeline-year">
                  <span>2018</span>
                </div>
                <div class="inner-content">
                  <h3 class="title">Web Development</h3>
                  <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer malesuada tellus lorem, et condimentum neque commodo
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
